# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Django
*.sqlite3
staticfiles/
media/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
docs.md

docs.md